.bar {
  background-image: assert-url("bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.4; /* Tone the image down further by giving it transparency */
  -webit-filter: blur(10px) grayscale(10%);
  filter: blur(5px) grayscale(10%); /* Go wild! */
}
